.App-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 10vh auto;
}

.App-header {
  background-color: rgb(116, 212, 206);
}

.books-container {
  background-color: rgb(218, 131, 206);
}

.data-visualisation-container {
  background-color: rgb(151, 218, 131);
}

.button {
  width: 5rem;
}
